<h1>About Me</h1>
<p>
  Not much to say about this yet. Pardon my dust, as the site is still under construction.
</p>
<p>
  The code is on <%= link_to 'github', 'https://github.com/Klaital/stock-portfolio' %> if you're interested.
</p>
