<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me for questions at kenkaku@gmail.com, or <%= link_to 'post an Issue', 'https://github.com/Klaital/stock-portfolio/issues' %>
  on the github tracker.
</p>
