<h2>Summary</h2>

<table class="user-summary">
  <tr>
    <th>Value</th>
    <td>$<%= @user.current_value_string %></td>
  </tr>
  <tr>
    <th>Gain</th>
    <td>$<%= @user.current_yield_string %></td>
  </tr>
  <tr>
    <th>Yield %</th>
    <td><%= @user.current_yield_percent %></td>
  </tr>
</table>
<h2>Stocks</h2>
<%= render 'stock_positions/table', :user => @user %>
